<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <% if (locals.user) {%>
      <h1> Welcome back, <%= user.name %> </h1>
      <% if (!locals.user.member) { %> 
        <a href="/members/join-the-club">Become a Member</a> 
      <% } %>
      <% if (locals.user.member) { %> 
        <a href="/members/message">Add a Message</a>
        <% } %>
      <a href="/sign-out">Sign Out</a>

      <% messages.forEach(message => { %> 
        <div>
	      <h3><%= message.title %></h3>
          <p><%= message.messages %></p>
	      <% if (locals.user.member) { %> 
            <p><b><%= message.author %></b></p>
            <p><i><%= message.timestamp %></i></p>
	      <% } %>
	      <% if (locals.user.admin) { %> 
            <button class="delete-message-button" data-messageId="message.id">delete</button>
	      <% } %>
	    </div>
      <% }); %>


    <% } else { %>
      <h1>Sign in</h1>
      <a href="/sign-up">Sign Up</a>
      <form method="POST" action="/sign-in">
        <label for="email">Email:</label>
        <input id="email" name="username" placeholder="johnsmith@email.com" type="email"/>
        <label for="password">Password</label>
        <input id="password" name="password" type="password"/>
        <button type="submit">Sign in</button>
      </form>
    <% } %>
</body>
</html>